* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

.show-result {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 64px;
}

.clear {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 48px;
  cursor: pointer;
}

.wrapper {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  height: 66vh;
  width: 66vh;
}

.block {
  position: relative;
  display: block;
  background-color: black;
  width: 22vh;
  height: 22vh;
  box-shadow: 0 0 0 5px white;
  cursor: pointer;
}

i.circle,
i.cross {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 100px;
  color: white;
  transform: translate(-50%, -50%);
  display: none;
}

i.circle.show {
  display: block;
}

i.cross.show {
  display: block;
}

footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 11px;
  padding: 5px 0;
}

@media (max-width: 1024px) {
  .wrapper {
    height: 66vw;
    width: 66vw;
  }

  i.circle,
  i.cross {
    font-size: 64px;
  }

  .block {
    height: 22vw;
    width: 22vw;
  }

  footer {
    font-size: 9px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}
